footer.footer
  .footer__logo
    img(src='/img/favicons/logo.png' alt='Wins Family')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='https://drive.google.com/drive/folders/15GJ9fOIdXbRONNup-tHb_Z47y9rINd0J?usp=sharing') Download apps
    li: a(href='tel:+233554281940') Contact
  p.footer__copyright &copy; by DEREK E. K. DONKOR