footer.footer
  .footer__logo
    img(src='/img/favicons/logo.png' alt='Wins Family')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Contact
  p.footer__copyright &copy; by DEREK E. K. DONKOR